@font-face {
    font-family: Aachen;
    src: url('../common/assets/fonts/NeueAachenProMedium.TTF');
}

@font-face {
    font-family: AcuminConcept;
    src: url('../common/assets/fonts/Acumin-Variable-Concept.ttf');
}

@font-face {
    font-family: Aachen;
    font-weight: bold;
    src: url('../common/assets/fonts/NeueAachenProMedium.TTF');
}

body {
    margin: 0;
    font-family: AcuminConcept, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF !important;
    background: #2a2a2a !important;
}
a{
    color: #FFFFFF !important;
    text-decoration: none !important;
}
.banner-title {
    font-family: Aachen, sans-serif;
    color: #FFFFFF;
    font-size: 58px;
    padding-top: 10rem;
}

.title-title {
    font-family: Aachen, sans-serif;
    color: #FFFFFF;
}

.STT {
    font-size: 48px;
    color: #a0a0a0;
}

.header {
    background: #3d3d3d;
    padding: 0.8rem 1rem;
    border-bottom: 2px solid #fe954f;
}

.input_search {
    background: #515151;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 400px;
    border-radius: 20px;
    color: #FFFFFF;
}

.fa-magnifying-glass {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
}

.sign-in-text {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0.5rem;
}

.navbar {
    position: relative;
    z-index: 10;
    padding: 0rem !important;
    background: #3d3d3d !important;
}

.nav-link {
    color: #FFFFFF !important;
    padding: 0.5rem 2rem !important;
}

.banner {
    position: relative;
    margin-top: -1px;
    background-image: url("../common/assets/images/bg_1.webp");
    height: calc(100vh - 92px);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-google-play {
    background: #000000;
    border: none;
    color: #FFFFFF;
    border-radius: 15px;
}

.google-play, .appstore {
    width: 180px;
    height: auto;
}

.slick_slider {
    /*overflow: hidden;*/
    position: absolute;
    bottom: -10rem;
    width: 100%;
    z-index: 10;
}

.slick-slide img {
    width: 100%;
}

@media (max-width: 576px) {
    .slick_slider{
        display: none;
    }
    .fin-us-on{
        display: flex !important;
        align-items: center;
    }
    .logo {
        width: 125px !important;
        height: auto !important;
    }

    .input_search {
        display: none;
    }

    .sign-in-text {
        font-size: 14px !important;
    }
    .grid-box{
        grid-template-columns: repeat(1, 1.3fr) !important;
        grid-gap: 1rem !important;
    }
    .gird-provide{
        grid-template-columns: repeat(1, 1.3fr) !important;
        grid-gap: 1rem !important;
    }
    .info-image{
        width: 100% !important;
    }
    .mobile-none{
        display: none;
    }
    .subscribe{
        padding: 1rem !important;
    }
    .main-content-banner{
        width: 90% !important;
    }

}

@media (max-width: 976px) {

    .slick_slider{
        bottom: 0rem;
    }
    .app-box,.web-box,.design-box{
        padding: 1rem 2rem 5rem 2rem !important;
    }
    .img-colum-1,.img-colum-2,.img-colum-3{
        width: 100% !important;
        height: 200px !important;
    }
    .offcanvas{
        background-color: #3d3d3d !important;
    }
    .grid-box{
        grid-gap: 0.5rem !important;
    }
    .offcanvas-body{
        padding: 0 !important;
    }
}
@media (max-width: 376px) {

}
.navbar-toggler-icon{
    color: #FFFFFF;
    background-image: var(--bs-navbar-toggler-icon-bg);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(255 255 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.carousel-slide-item__body {
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

.main-content-banner {
    width: 84%;
    margin: auto;
}

.carousel__btn--prev {
    position: absolute;
    z-index: 100;
}

.carousel__btn--next {
    position: absolute !important;
    z-index: 100;
}

.bg__page {
    background-image: url("../common/assets/images/Group-452_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-learn-more {
    width: 120px;
    height: 38px;
    transform: skew(346deg);
    background: #fe954f;
    margin-left: 20px;
    border: none;
    color: #FFFFFF;
    box-shadow: 0rem 0rem 1rem #000
}
.btn-see-more {
    width: 180px;
    height: 38px;
    transform: skew(346deg);
    background: #fe954f;
    margin-left: 25px;
    border: none;
    color: #FFFFFF;
    box-shadow: 0rem 0rem 1rem #000
}

.learn-more-text {
    position: absolute;
    bottom: 30%;
    transform: translateY(50%);
    margin-left: 1rem;
    font-weight: 600;
}
.see-more-text{
    margin-left: 1.5rem;
    position: absolute;
    bottom: 30%;
    transform: translateY(50%);
    font-weight: 600;
}
.btn-group {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.product_box_software {
    background: linear-gradient(180deg, rgb(71, 60, 43, 0.51) 0%, rgba(49, 43, 37, 0.34) 52.43%, rgba(35, 31, 30, 0.16) 98.68%);
}

.product_box_human {
    background: linear-gradient(180deg, rgba(50, 63, 70, 0.51) 0%, rgba(53, 53, 50, 0.34) 52.43%, rgba(41, 38, 37, 0.16) 98.68%);
}

.product_box_solution {
    background: linear-gradient(180deg, rgb(74, 46, 52, 0.51) 0%, rgb(51, 42, 42, 0.34) 52.43%, rgb(45, 41, 39, 0.16) 98.68%);

}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1.3fr);
    grid-gap: 5rem;
    margin-top: 5rem;
}

.sc-1-img {
    width: 70%;
    height: auto;
    margin-top: 8rem;
}

.section {
    margin-top: 10rem;
}
.section-1{
    margin-top: 3rem;
}

.gird-provide {
    display: grid;
    grid-template-columns: repeat(4, 1.3fr);
    grid-gap: 2.5rem;
}

.info-image {
    width: 75%;
    height: auto;
}

.info-desc {
    color: #bdbdbd;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.app-box {
    background: linear-gradient(180deg, rgb(52, 51, 47, 0.51) 0%, rgb(35, 32, 32, 0.34) 52.43%, rgb(32, 29, 28, 0.16) 98.68%);
    padding: 1rem 2rem 12rem 2rem;
}

.web-box {
    background: linear-gradient(180deg, rgb(51, 46, 52, 0.51) 0%, rgb(37, 34, 34, 0.34) 52.43%, rgb(37, 34, 33, 0.16) 98.68%);
    padding: 1rem 2rem 12rem 2rem;
}

.design-box {
    background: linear-gradient(180deg, rgb(51, 49, 48, 0.51) 0%, rgb(43, 42, 40, 0.34) 52.43%, rgb(36, 34, 33, 0.16) 98.68%);
    padding: 1rem 2rem 12rem 2rem;
}

.img-colum-1 {
    position: relative;
    background-image: url("../common/assets/images/bg1.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-colum-2 {
    background-image: url("../common/assets/images/bg2.png");
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe{
    padding: 2rem 2rem;
    border-radius: 15px;
    border: 1px solid #ffffff;
}
.input-sub{
    outline: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    background: #131212 !important;
}
.btn-subscribe{
    background: #ee7709;
    border: none;
    padding: 0.6rem;
    color: #ffffff;
    width: 100%;
    font-weight: 600;
}
.footer{
    padding: 4rem 2rem;
    background: #131212;
    border-top: 1px solid #090807;
}
.line-footer{
    border-bottom: 2px solid #FFFFFF;
}
.navbar-nav .active{
    background: #2a2a2a !important;
}
.btn-group:hover{
    color: #FFFFFF;
}
@media (max-width: 1200px) {
    .gird-provide{
        grid-template-columns: repeat(2, 1.3fr);
        grid-gap: 4.5rem;
    }
    .training{
        font-size: 24px !important;
    }
    .training_desc{
        font-size: 14px !important;
    }
}
.btn-next{
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
}
.btn-prev{
    position: absolute;
    left: 1rem;
    bottom: 50%;
    transform: translateY(50%);
}
.slider-whir{
    overflow: hidden !important;
}
.frame_inactive{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.slider-desc{
    box-shadow: 10px 10px 88px 7px #000;
    background: #00000070
}
.navbar-toggler{
    border:none!important;
    box-shadow: none !important;
}